
img {
    max-width: 100%;
}


.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100%;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
}

.autoplay {
position: absolute;
z-index: -1;
top: 50;
left: 50%;
transform: translate(-50%,50%);
min-width: 100%;
min-height: 100%;

}

